/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner-picture img {
  height: auto;
  max-width: 100%;
}

.description {
  margin: 5px;
}
