<div class="parallax filter-gradient blue" data-color="blue">

  <div id="header" class="banner">
    <div class= "container text-center">
      <div class="description text-center hidden-xs">
          <h2>Développer ensemble des <b>solutions open source</b><a href="#" data-toggle="tooltip" data-placement="top" title="*transparentes, modifiables et libres pour tous!"><b>*</b></a>
               pour la <b>démocratie</b>.</h2>
          <br>
      </div>

      <div class="card">
         <div class="text_card">

              <h4>Prochain Événement</h4>

                  <p><i class="fa fa-calendar" aria-hidden="true"></i> Le 10 et 11 Juin 2016 <i class="fa fa-map-marker" aria-hidden="true" style="padding-left:20px"></i> Fondation Mozilla (Paris)</p>

              <div>
              <a href="Hackathon_liste/Hackathon3.html"><img src="Hackathon_liste/page_hackathon/img/banner-hackathon.png"> </img></a>
              </div>
              </br>
              <a href="Hackathon_liste/Hackathon3.html" class="btn btn-neutral btn-lg btn-fill">Détails et inscription</a>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner 2 -->
<div class="banner">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <div class="description text-left">
          <h3 class="header-text">L'initiative <b>Open Democracy Now</b></h3>
          <p>
          Officiellement initiée en janvier 2016, l’initiative Open Democracy Now rassemble une communauté d’acteurs aux profils complémentaires désireux d’apporter des solutions concrètes aux enjeux d’une démocratie plus participative et collaborative. </p>

          <p>Conjointement organisée par DemocracyOS, Etalab, Open Law, Open Source Politics et République Citoyenne, elle a vocation à être <b>construite sur la durée</b>, portée par plusieurs projets développés pendant une série de <a href="tous_hackathons.html"><b>hackathons</b></a> tout au long de l’année.
          </p>

          <p>Focalisés sur le développement et l'usage d’outils <b>open source</b> pour la concertation publique en ligne et l’élaboration collaborative de la loi, les différents projets partagent des valeurs structurantes : <b>l’ouverture, la transparence, l’accessibilité, la réutilisation</b>.</p>

          <p> Les résultats seront présentés les 16 et 17 novembre lors du <a href="http://www.opensourcesummit.paris/"> <b>Paris Open Source Summit</b></a> et les 7,8 et 9 décembre lors du hackathon international du Sommet mondial du  <a href="http://www.opengovpartnership.org/"><b>Partenariat pour un Gouvernement Ouvert</b></a>, à Paris. </p>

          <p><a href="info.html">En savoir plus</a> sur l'initiative ODN!</p>

      <!-- 2 buttons -->
          <div class="row">
            <div class="col-md-6">
              <p><a href="tous_projets.html" class="btn btn-info btn-lg btn-fill">Découvrez les projets</a></p>
            </div>

            <div class="col-md-6">
              <p>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Proposer un projet</button>
              </p>

              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Formulaire de contact</h4>
                    </div>
                    <div class="modal-body">
                      <script type="text/javascript" src="https://form.jotformeu.com/jsform/61322529296357"></script>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6 banner-picture">
        <%= image_tag "showcases/megaphone.png" %>
      </div>

    </div>
  </div>
</div>
