<div class="parallax filter-gradient blue" data-color="blue">

<!--   <div class="parallax-background">
    <%#= image_tag "terre3.jpg", class: "parallax-background-image" %>
  </div> -->

  <div id="header" class="banner">
    <div class= "container text-center">
      <div class="description text-center hidden-xs">
          <h2>Développer ensemble des <b>solutions open source</b><a href="#" data-toggle="tooltip" data-placement="top" title="*transparentes, modifiables et libres pour tous!"><b>*</b></a>
               pour la <b>démocratie</b>.</h2>
          <br>
      </div>

      <div class="card">
         <div class="text_card">

              <h4>Prochain Événement</h4>

                  <p><i class="fa fa-calendar" aria-hidden="true"></i> Le 10 et 11 Juin 2016 <i class="fa fa-map-marker" aria-hidden="true" style="padding-left:20px"></i> Fondation Mozilla (Paris)</p>

              <div>
              <a href="Hackathon_liste/Hackathon3.html"><img src="Hackathon_liste/page_hackathon/img/banner-hackathon.png"> </img></a>
              </div>
              </br>
              <a href="Hackathon_liste/Hackathon3.html" class="btn btn-neutral btn-lg btn-fill">Détails et inscription</a>
          </div>
      </div>
    </div>
  </div>
</div>
